{% extends "base/default-page.html" %}

{% block content %}
<form class="ui form segment" method="POST">
    <div class="field">
        {{ form.csrf_token }}
        {{ form.subject.label }}
        {{ form.subject }}
    </div>

    <div class="field">
        {{ form.body.label }}
        {{ form.body }}
    </div>

    <div class="field">
        {{ form.tags.label }}
        {{ form.tags(class_="ui fluid search dropdown", multiple="") | safe }}
    </div>

    <button type="submit" class="ui psu-ocean-blue button">
        สร้าง
    </button>
</form>

<script>
    $('.ui.dropdown')
    .dropdown()
    ;
</script>
{% endblock %}