{% macro render_comment_target(form, target, current_user) %}

<div class="ui list">
    {% for comment in target.comments %}
      <div class="item">
        <img class="ui avatar image" src="{{ url_for('static', filename='images/user.png') }}">
        <div class="content">
          <b>{{ comment.owner.name }}</b> 
          <p>
            {{ comment.get_body() | safe}}
          </p>
          <p>
            <a style="color: {{ 'grey' if current_user not in comment.liked_by else 'red' }}"
              onclick="
                var ajax = new XMLHttpRequest();
                var total_like
                heart = $(this)
                $.ajax({
                  type: 'GET',
                  url: `{{ url_for('blogs.like_target', comment_id=comment.id) }}`,
                  success: function(response) {
                    if (response.length > 100) {
                      window.location.href = `{{ url_for('accounts.login') }}`
                    } else {
                      total_like = response['total_like']
                      if (heart[0].style.color == 'grey') {
                        heart[0].style = 'color: red'
                        heart[0].childNodes[3].innerHTML = total_like
                      } else {
                        heart[0].style = 'color: grey'
                        heart[0].childNodes[3].innerHTML = total_like
                      }
                    }
                  },
                });
              "
            >
              <i class="small heart like outline icon"></i> 
              <span id="like-count">
                {{ comment.liked_by | count }}
              </span>
                ชอบ
            </a>
            &ThickSpace; 
            <a style="color: grey"
                onclick="swapCommentSection('{{ comment.id }}')">
              <i class="small grey comment icon"></i> 
              {{ comment.comments | count if comment.comments | count != 0 else '' }}
              ตอบกลับ
            </a>
            
            &ThickSpace; 
            <br class="past-time-space" style="display: none;">
            <span class="ui text" style="font-weight: 100; color: rgb(181, 181, 181)">
              {{ comment.get_past_time() }}
            </span>
          </p>

          <form id="{{ comment.id }}-form" method="POST" class="ui form {{ comment.id }}" style="display: none;" action="{{ url_for('blogs.comment', comment_id=comment.id) }}">
            <div class="field">
                {{ form.csrf_token }}
                {{ form.body(class_='ui input', rows=1) }} 
            </div>
            <p></p>
            <button type="submit" class="ui small left floated psu-ocean-blue icon button">ส่ง <i class="paper plane icon"></i></button>
          </form>

          {% if comment.comments %}
            {{ render_comment_target(form, comment, current_user) }}
          {% endif %}

        </div>
      </div>
    {% endfor %}
  </div>

  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script type="text/javascript">
    function swapCommentSection(comment_id) {
        comment_form = $("#"+comment_id+'-form')
        if (comment_form.css("display") == "none") {
            comment_form[0].style = 'display: inline-block; width: 25vw'
        } else {
            comment_form[0].style = 'display: none'
        }
    }
  </script>

  <style>
    @media (max-width: 1000px) { 
    .past-time-space {
      display: block !important
    }
  }
  </style>
{% endmacro %}