{% macro render_comment_target(form, target, current_user) %}

<div class="ui relaxed list">
    {% for comment in target.comments %}
      <div class="item">
        <img class="ui avatar image" src="{{ url_for('static', filename='images/user.png') }}">
        <div class="content">
          <b>{{ comment.owner.name }}</b> 
          <p>
            {{ comment.get_body() | safe}}
          </p>
          <p>
            <a href="{{ url_for('blogs.like_target', comment_id=comment.id) }}" style="color: {{ 'grey' if current_user not in comment.liked_by else 'red' }}">
              <i class="small heart like outline icon"></i> 
                {{ comment.liked_by | count if comment.liked_by | count != 0 else '' }}
                ชอบ
            </a>
            &ThickSpace; 
            <a style="color: grey"
                onclick="swapCommentSection('{{ comment.id }}')">
              <i class="small grey comment icon"></i> 
              {{ comment.comments | count if comment.comments | count != 0 else '' }}
              ตอบกลับ
            </a>
            &ThickSpace; 
            <span class="ui text" style="font-weight: 100; color: lightgrey">
              {{ comment.get_past_time() }}
            </span>
          </p>

            <form id="{{ comment.id }}-form" method="POST" class="ui form {{ comment.id }}" style="display: none; width: 80vw" action="{{ url_for('blogs.comment', comment_id=comment.id) }}">
            {{ form.csrf_token() }}
            {{ form.body(class_='ui input', rows=1) }} 
            <p></p>
            <button type="submit" class="ui small left floated psu-ocean-blue icon button">ส่ง <i class="paper plane icon"></i></button>
          </form>

          {% if comment.comments %}
            {{ render_comment_target(form, comment, current_user) }}
          {% endif %}

        </div>
      </div>
    {% endfor %}
  </div>

  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script type="text/javascript">
    function swapCommentSection(comment_id) {
        comment_form = $("#"+comment_id+'-form')
        console.log(comment_form.css("display"))
        if (comment_form.css("display") == "none") {
            comment_form[0].style = 'display: inline-block; width: 80vw'
        } else {
            comment_form[0].style = 'display: none'
        }
    }
  </script>
{% endmacro %}