<footer class="ui vertical inverted footer segment">
    <div class="ui grid" style="padding: 2em 0 2em 0">
      <div class="three column row">
        <div class="center aligned column">
          <h4 class="ui inverted icon header">
            <i class="keyboard icon"></i>
            เกี่ยวกับ
          </h4>
          <div style="padding-left: 0.5em" >
            POODTAM เว็บบอร์ดสำหรับคนที่ชอบ พูด-ถาม เรื่องราวต่าง ๆ
          </div>
        </div>
        <div class="center aligned column">
          <div class="ui inverted icon small header">
            <i class="users icon"></i>
            ผู้จัดทำ
          </div>
          <div class="column">
            <div class="ui inverted list">
              <div class="item">นายชนาวัฒน์ <br class="mobile-space"> ทั้วสุภาพ</div>
              <div class="item">นายนภัจน์ <br class="mobile-space"> เฉลิมวงค์</div>
              <div class="item">นายณัฐพงศ์ <br class="mobile-space"> นาคศรี</div>
            </div>
          </div>
        </div>
        <div class="center aligned column" >
          <div class="ui inverted icon small header">
            <i class="cogs icon"></i>
            จัดทำโดย
          </div>
          <div class="column">
            <div class="ui inverted list">
              <div class="item">นักศึกษาคณะวิศวกรรมศาสตร์</div>
              <div class="item">สาขาวิศวกรรมคอมพิวเตอร์</div>
              <div class="item">มหาวิทยาลัยสงขลานครินทร์</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <style>
      .mobile-space {
        display: none;
      }
      @media (max-width: 460px) { 
        .mobile-space {
          display: block;
        }
      }
    </style>
</footer>