<div class="ui borderless menu fixed" >
    <div class="header item">
        <a href="{{ url_for('dashboard.index') }}" style="text-decoration: none;">
            <span class="ui black text">
                <i class="keyboard icon"></i>
                {{ config['APP_TITLE'] }}
            </span>
        </a>
    </div>
    <a class="item" href="{{ url_for('dashboard.index') }}">หน้าแรก</a>
    {% if not current_user.is_authenticated %}
        <div class="right menu">
            <a class="item" href="{{ url_for('accounts.register') }}" >สร้างบัญชี</a>
            <a class="item" href="{{ url_for('accounts.login') }}">ลงชื่อเข้าใช้</a>
        </div>
    {% else %}
        <div class="ui right dropdown item">
            {{ current_user.name }}
            <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="{{ url_for('accounts.index') }}">โปรไฟล์</a>
                <a class="item" href="{{ url_for('accounts.logout') }}">
                    <span class="ui red text">
                        ออกจากระบบ
                    </span>
                </a>
            </div>
        </div>
    {% endif %}
</div>

<script>
    $('.ui.dropdown').dropdown()
</script>
