<div class="ui borderless menu fixed" style="position: fixed; top: 0px; left: auto; z-index: 10; box-shadow: none;">
    <div class="header item">
        <a href="{{ url_for('dashboard.index') }}" style="text-decoration: none;">
            <span class="ui black text">
                <i class="keyboard icon"></i>
                {{ config['APP_TITLE'] }}
            </span>
        </a>
    </div>
    <div class="menu">
        <a class="item" href="{{ url_for('dashboard.index') }}">หน้าแรก</a>
        <div class="right menu">
            {% if not current_user.is_authenticated %}
                <a class="item" href="{{ url_for('accounts.register') }}" >สร้างบัญชี</a>
                <a class="item" href="{{ url_for('accounts.login') }}">ลงชื่อเข้าใช้</a>
            {% else %}
                <div class="item">{{ current_user.name }}</div>
            {% endif %}
        </div>
    </div>
</div>