{% extends "/base/default-page.html" %}

{% block content %}

<div class="ui info message">This is dashboard of poomtam webboard.</div>
<div class="ui very padded segment">
    <h1 class="ui header">Poodtam Dashboard</h1>
    <a class="ui blue button" href="{{ url_for('blogs.create_or_edit') }}">สร้าง</a>
    {% for blog in blogs %}
    <div class="ui large fluid card">
      <div class="content">
        <img class="ui avatar image" src="{{ url_for('static', filename='images/user.png') }}"> {{ blog.owner.name }}
        <div class="right floated meta">
          {% if blog.is_edited() %}
          (แก้ไขแล้ว)
          {% endif %}
          {{ blog.get_past_time() }}
        </div>
      </div>
      <div class="image">
        <img>
      </div>
      <div class="content">
        {% if blog.owner == current_user %}
          <a class="ui large right floated blue tertiary button" href="{{ url_for('blogs.create_or_edit', blog_id=blog.id) }}">
            <i class="edit icon"></i> 
            แก้ไข
          </a>
        {% endif %}
        <div class="ui header">{{ blog.subject }}</div>
        <div class="ui hidden divider"></div>
        {{ blog.get_body ()| safe }}
      </div>
      <div class="content">
        <div class="ui input" style="width: 50vw">
          <input type="text" placeholder="Add Comment...">
        </div>
        <i class="paper plane icon"></i>
        <div class="right floated content">
          <i class="heart outline like icon"></i>
          17 ถูกใจ
          &ThinSpace; <i class="comment icon"></i>
          3 ความคิดเห็น
        </div>
      </div>
    </div>
    {% endfor %}
</div>

{% endblock %}