{% extends "/base/default-page.html" %}
{% import "/base/blog-renderer.html" as blog_renderer %}

{% block content %}

<div class="ui fluid centered raised blue card" style="max-width: 1000px">
  <div class="content">
    <h1 class="ui header">Poodtam Dashboard</h1>
  </div>
</div>

<div class="ui fluid centered basic clearing fitted card" style="max-width: 1000px;">
  <div class="content">
    <div class="ui three buttons"></div>
    <a class="ui psu-ocean-blue button" href="{{ url_for('blogs.create_or_edit') }}">
      <i class="edit icon"></i> สร้างโพสต์
    </a>
    <div class="ui dropdown basic black floating labeled icon button right floated" style="background-color: white;">
      <i class="sort icon"></i>
      <span class="text">
        {% if not sorted_by %}
        จัดเรียงตาม
        {% else %}
          {% if sorted_by == 'newest_date' %} 
            <i class="blue calendar icon"></i> วันที่ (ใหม่ที่สุด)
          {% elif sorted_by == 'oldest_date' %} 
            <i class="red calendar icon"></i> วันที่ (เก่าที่สุด)
          {% elif sorted_by == 'most_liked' %} 
            <i class="blue heart icon"></i> ความชอบ (มากที่สุด)
          {% elif sorted_by == 'least_liked' %} 
            <i class="red heart icon"></i> ความชอบ (น้อยที่สุด)
          {% elif sorted_by == 'most_comment' %} 
            <i class="blue comment icon"></i> ความคิดเห็น (มากที่สุด)
          {% elif sorted_by == 'least_comment' %} 
            <i class="red comment icon"></i> ความคิดเห็น (น้อยที่สุด)
          {% endif %}
        {% endif %}
      </span>
      <div class="menu">
        <div class="header">
          <i class="tags icon"></i>
          เลือกการจัดเรียง
        </div>
        <div class="scrolling menu">
          {% if sorted_by %}
            <a class="item" href="{{ url_for('dashboard.index', filter_tag=filter_tag) }}">
              ลบการจัดเรียง
            </a>
          {% endif %}
          <a class="item" href="{{ url_for('dashboard.index', sorted_by='newest_date', filter_tag=filter_tag) }}">
            <i class="blue calendar icon"></i> วันที่ (ใหม่ที่สุด)
          </a>
          <a class="item" href="{{ url_for('dashboard.index', sorted_by='oldest_date', filter_tag=filter_tag) }}">
            <i class="red calendar icon"></i> วันที่ (เก่าที่สุด)
          </a>
          <div class="divider"></div>
          <a class="item" href="{{ url_for('dashboard.index', sorted_by='most_liked', filter_tag=filter_tag) }}">
            <i class="blue heart icon"></i> ความชอบ (มากที่สุด)
          </a>
          <a class="item" href="{{ url_for('dashboard.index', sorted_by='least_liked', filter_tag=filter_tag) }}">
            <i class="red heart icon"></i> ความชอบ (น้อยที่สุด)
          </a>
          <div class="divider"></div>
          <a class="item" href="{{ url_for('dashboard.index', sorted_by='most_comment', filter_tag=filter_tag) }}">
            <i class="blue comment icon"></i> ความคิดเห็น (มากที่สุด)
          </a>
          <a class="item" href="{{ url_for('dashboard.index', sorted_by='least_comment', filter_tag=filter_tag) }}">
            <i class="red comment icon"></i> ความคิดเห็น (น้อยที่สุด)
          </a>
        </div>
      </div>
    </div>
    <div class="ui dropdown basic black floating labeled icon button right floated" style="background-color: white;">
      <i class="filter icon"></i>
      <span class="text">
        {% if request.args.get('filter_tag') %}
        <i class="circle icon
        {{ 'olive' if filter_tag == 'ปัญหาชีวิต' }} {{ 'pink' if filter_tag == 'ความรัก' }} {{ 'yellow' if filter_tag == 'อาหาร' }}
        {{ 'brown' if filter_tag == 'สัตว์' }} {{ 'brown' if filter_tag == 'สัตว์เลี้ยง' }} {{ 'orange' if filter_tag == 'ยานพาหนะ' }}
        {{ 'teal' if filter_tag == 'โทรศัพท์' }} {{ 'teal' if filter_tag == 'คอมพิวเตอร์' }} {{ 'blue' if filter_tag == 'เทคโนโลยี' }}
        {{ 'blue' if filter_tag == 'คลาวด์' }} {{ 'violet' if filter_tag == 'การศึกษา' }} "></i>
        {{ filter_tag }}
        {% else %}
        กรองโพสต์
        {% endif %}
      </span>
      <div class="menu">
        <div class="ui icon search input">
          <i class="search icon"></i>
          <input type="text" placeholder="ค้นหาแท็ก...">
        </div>
        <div class="divider"></div>

        <div class="header">
          <i class="tags icon"></i>
          หัวข้อแท็ก
        </div>
        <div class="scrolling menu">
          {% if filter_tag %}
            <a class="item" href="{{ url_for('dashboard.index', sorted_by=sorted_by) }}">
              ลบการกรอง
            </a>
          {% endif %}
          {% for tag in tag_choices %}
          <a class="item" href="{{ url_for('dashboard.index', filter_tag=tag, sorted_by=sorted_by) }}">
            <div class="ui empty circular label
                {{ 'olive' if tag == 'ปัญหาชีวิต' }} {{ 'pink' if tag == 'ความรัก' }} {{ 'yellow' if tag == 'อาหาร' }}
                {{ 'brown' if tag == 'สัตว์' }} {{ 'brown' if tag == 'สัตว์เลี้ยง' }} {{ 'orange' if tag == 'ยานพาหนะ' }}
                {{ 'teal' if tag == 'โทรศัพท์' }} {{ 'teal' if tag == 'คอมพิวเตอร์' }} {{ 'blue' if tag == 'เทคโนโลยี' }}
                {{ 'blue' if tag == 'คลาวด์' }} {{ 'violet' if tag == 'การศึกษา' }} "></div>
            {{ tag }}
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.ui.dropdown').dropdown()
</script>

<div class="ui fluid centered raised blue one cards">

{% set blog_count = namespace(value=0) %}
{% for blog in blogs %}
  {% if not request.args.get("filter_tag") or request.args.get("filter_tag") in blog.get_tags_display() %}
    {% set blog_count.value = blog_count.value + 1 %}
    <div class="card" href="{{ url_for('blogs.view', blog_id=blog.id) }}" style="margin-bottom: 3em; max-width: 1000px">
      {% if blog.tags %}
        <div class="extra content">
            {% for tag in blog.get_tags_display().split(' ') %}
              <div class="ui small label
                {{ 'olive' if tag == 'ปัญหาชีวิต' }} {{ 'pink' if tag == 'ความรัก' }} {{ 'yellow' if tag == 'อาหาร' }}
                {{ 'brown' if tag == 'สัตว์' }} {{ 'brown' if tag == 'สัตว์เลี้ยง' }} {{ 'orange' if tag == 'ยานพาหนะ' }}
                {{ 'teal' if tag == 'โทรศัพท์' }} {{ 'teal' if tag == 'คอมพิวเตอร์' }} {{ 'blue' if tag == 'เทคโนโลยี' }}
                {{ 'blue' if tag == 'คลาวด์' }} {{ 'violet' if tag == 'การศึกษา' }} ">
                {{ tag }}
              </div>
            {% endfor %}
        </div>
      {% endif %}
      <div class="content">
        <img class="ui avatar image" src="{{ url_for('static', filename='images/user.png') }}"> {{ blog.owner.name }}
        <div class="right floated meta">
          {% if blog.is_edited() %}
          (แก้ไขแล้ว)
          {% endif %}
          {{ blog.get_past_time() }}
        </div>
      </div>
      <div class="content" style="cursor: pointer;" onclick="window.location.href=`{{ url_for('blogs.view', blog_id=blog.id) }}`">
        <div class="ui header">
          {{ blog.subject }}
          {% if blog.owner == current_user %}
            <a class="ui large right floated tertiary button" style="color: rgb(44, 73, 140) !important" href="{{ url_for('blogs.create_or_edit', blog_id=blog.id) }}">
              <i class="edit icon"></i> 
              แก้ไข
            </a>
          {% endif %}
          </div>
          {{ blog.get_body () | safe }}
        </div>
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <div class="right floated content">
          <a style="color: {{ 'grey' if current_user not in blog.liked_by else 'red' }}"
            onclick="
            var ajax = new XMLHttpRequest();
            var total_like
            heart = $(this)
            $.ajax({
              type: 'GET',
              url: `{{ url_for('blogs.like_target', blog_id=blog.id) }}`,
              success: function(response) {
                if (response.length > 100) {
                  window.location.href = `{{ url_for('accounts.login') }}`
                } else {
                  total_like = response['total_like']
                  if (heart[0].style.color == 'grey') {
                    heart[0].style = 'color: red'
                    heart[0].childNodes[3].innerHTML = total_like
                  } else {
                    heart[0].style = 'color: grey'
                    heart[0].childNodes[3].innerHTML = total_like
                  }
                }
              },
            });"
          >
          <i style="font-size: 20px;" class="heart outline like icon"></i>
          <span id="like-count">
            {{ blog.liked_by | count }}
          </span>
          ชอบ
        </a>
        &ThickSpace;
        <i style="font-size: 20px;" class="comment icon"></i>
        {{ blog.count_comment() }} ความคิดเห็น
      </div>
      
      {% if blog.comments %}
        <div class="content">
          {{ blog_renderer.render_comment_target(comment_form, blog, current_user) }}
        </div>
      {% endif %}

      <div class="content">
        <form class="ui form basic fitted segment" method="POST" action="{{ url_for('blogs.comment', blog_id=blog.id) }}">
          {{ comment_form.csrf_token }}
          {{ comment_form.body(class_="ui input", rows=1, placeholder="แสดงความคิดเห็น...") }}
          <p></p>
          <button type="submit" class="ui icon psu-ocean-blue {{blog.id}} button">
            แสดงความคิดเห็น  
            <i class="paper plane icon"></i>
          </button>
        </form>
      </div>
    </div>
  {% endif %}
{% endfor %}

{% if blog_count.value == 0 %}
    <div class="ui text" style="margin-top: 3em">
      ไม่มีโพสต์{% if filter_tag %}สำหรับ 
      <div class="ui small label" style="background-color: white;">
        <i class="circle icon
        {{ 'olive' if filter_tag == 'ปัญหาชีวิต' }} {{ 'pink' if filter_tag == 'ความรัก' }} {{ 'yellow' if filter_tag == 'อาหาร' }}
        {{ 'brown' if filter_tag == 'สัตว์' }} {{ 'brown' if filter_tag == 'สัตว์เลี้ยง' }} {{ 'orange' if filter_tag == 'ยานพาหนะ' }}
        {{ 'teal' if filter_tag == 'โทรศัพท์' }} {{ 'teal' if filter_tag == 'คอมพิวเตอร์' }} {{ 'blue' if filter_tag == 'เทคโนโลยี' }}
        {{ 'blue' if filter_tag == 'คลาวด์' }} {{ 'violet' if filter_tag == 'การศึกษา' }}
        "></i>
        {{ filter_tag }}
      </div>
    {% endif %}
    </div>
{% endif %}
</div>
    
{% endblock %}
